<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=T:\Bepinex_plugins\NuclearStats\DataBase.mdf;Integrated Security=True" name="StatsDB"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
